<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css -->
    <style>
      body {
        background-image: url("/static/c1.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 700px, cover;
      }
      button {
        margin-left: 45%;
        margin-top: 650px;
      }
    </style>
  </head>
  <body>
    <a id="home" href="/queryone">
      <button type="button">CLICK HERE TO LEARN MORE</button>
    </a>
  </body>
</html>
