{% extends "base.html" %} {% block title%}Query Five{% endblock %} {% block
content %}
<div class="row p-4">
  <div class="card m-auto" style="width: 90%">
    <div class="card-body">
      <div id="chart1">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <body style="font-family: arial, sans-serif">
          <div id="chart" class="chart"></div>
          <form method="POST">
            <label for="crime_select">Select a crime:</label>
            <select name="crime_code" id="crime_select">
                {% for crime in crime_codes %}
                    <option value="{{ crime }}">{{ crime }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
        </body>
        <script>
          d = {{ graphJSON | safe }};
          Plotly.newPlot('chart', d, {});
        </script>
      </div>
    </div>
  </div>
</div>

{% endblock %}
