{% extends "base.html" %} {% block title%}Query Two{% endblock %} {% block
content %}
<div class="row p-4">
  <div class="card m-auto" style="width: 90%">
    <div class="card-body">
      <div id="chart1">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          function cback() {
            $.getJSON({
              url: "/callback2",
              success: function (result) {
                Plotly.newPlot("chart", result, { staticPlot: true });
              },
            });
          }
        </script>
        <body style="font-family: arial, sans-serif">
          <!-- <h1>CRIME TRENDS</h1> -->
          <p>
            How has the number of victims between the ages of 18-49 affected by
            crimes of theft and COVID-19 developed in 2020? And the following
            two years?
          </p>
          <div id="chart" class="chart"></div>
        </body>
        <script>
          d = {{ graphJSON | safe }};
          Plotly.newPlot('chart', d, {});
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
